* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.block {
  max-width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
}
.main {
  height: 800px;
}

.header {
  background-image: url(img/background.png);
  background-size: auto;
  width: 100%;
  height: 100%;
}

.menu {
  height: 100px;
  line-height: 100px;
  font-family: Nexa;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.6px;
  text-align: left;
  color: #bebebe;
  text-transform: uppercase;
  text-align: center;
}
.header .menu {
  color: #f1f1f1;
}


li {
  padding-right: 40px;
  display: inline-block;
  list-style-type: none;

   }
ul {
  margin: 0;
  padding: 0;
    }
.logo {
  width: 721px;
  height: 573px;
  object-fit: contain;
  margin-top: 148px;
  margin-left: auto;
  margin-right: auto;
}


hr {
  margin: 0;
  padding: 0;
  margin-left: 67px;
  margin-right: 67px;
  border: none;
  color: #bebebe;
  background-color: #bebebe;
  height: 1px;
}

.header hr {
  color: #f1f1f1;
  background-color: #f1f1f1;
}

.photo img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}
.photo {
  width: 771px;
  height: 700px;
  padding-top: 75px;
  padding-left: 164px;
  margin-right: 51px;
  float: left;
}

h2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 60.2px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 6px;
  text-align: left;
  color: #202020;
}
.info {
  margin-top: 164px;
  max-width: 600px;
  float: left;
}

.info p {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.6px;
  text-align: left;
  color: #202020;
}

#sign {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 36px;
  line-height: 1.39;
  text-align: left;
  color: #202020;
  margin-top: 75px;
}
.contact {
  text-align: center;
  margin-top: 150px;
}
.contact h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #202020;
  text-transform: uppercase;
}
#mail {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 6px;
  text-align: center;
  color: #202020;
  margin-top: 41px;
  margin-bottom: 63px;
}
#phone {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 4.8px;
  color: #202020;
  margin-top: 45px;
  margin-bottom: 71px;
}

#socials {
  margin-top: 37px;
}



.footer p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
}

.footer {
  height: 100px;
  line-height: 100px;
  margin-top: 175px;
}


@media screen and (max-width: 1605px) {
       .photo {
         height: 500px;
         padding-top: 75px;
         padding-left: 0px;
         margin-right: 30px;
         float: left;
       }
       .info {
         margin-top: 50px;
         max-width: 600px;
         float: left;
       }

       .main {
         height: 600px;
       }
}

@media screen and (max-width: 1420px) {
  .photo {
    width: 550.7px;
    padding-left: 0;
    float: none;
    margin: 0 auto;
    }


    .info {
      text-align: center;
      float: none;
      margin: 0 auto;
    }
    .info h2 {
      text-align: center;
    }
    .info p {
      text-align: center;
    }
    #sign {
      text-align: center;
    }

    .main {
      height: 1080px;
    }

}

@media screen and (max-width: 738px) {
  .logo img{
    width: 350px;
    margin: 0 auto;
    float: none;
  }
  .logo {
    width: 350px;
    margin: 30% auto;
    float: none;
  }
  .top {
    height: 800px;
  }
}

@media screen and (max-width: 625px) {
  .menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .top {
    height: 500px;
  }
  .main {
    height: 950px;
  }
  #mail {
    font-size: 45px;
  }
  #phone {
    font-size: 35px;
  }
}
@media screen and (max-width: 567px) {
  .photo {
    width: 100%;
    height: auto;
  }

  #mail {
    font-size: 35px;
  }
  #phone {
    font-size: 25px;
  }
}

@media screen and (max-width: 354px) {
  .main {
    height: 1080px;
  }
}
